@font-face {
  font-family: "Exo2-Bold";
  src: url("../font/Exo2-Bold.ttf"); }
@font-face {
  font-family: "Exo2-Regular";
  src: url("../font/Exo2-Regular.ttf"); }
body {
  font-family: "Exo2-Regular",sans-serif; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "Exo2-Bold",sans-serif; }

* {
  box-sizing: border-box; }

.buttun {
  background-color: #ffffff; }
  .buttun:focus {
    outline: none; }

.links {
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  color: #0A7F2E;
  background-color: #ffffff;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-left: 37px;
  padding-right: 37px;
  letter-spacing: 1px;
  box-shadow: 0 0 30px #ffffff; }
  .links:hover {
    text-decoration: none;
    color: #0A7F2E; }

body .vacancy .navbar .container img {
  width: 80%;
  height: 80%; }
body .vacancy .navbar .container .logo {
  padding: 0;
  margin: 0; }
body .vacancy .navbar .container .btnn {
  margin-right: 20px;
  padding: 0;
  background-color: #ffffff;
  outline: none;
  border: none; }
  body .vacancy .navbar .container .btnn img {
    width: 80%;
    height: 80%; }
body .vacancy .navbar .container .navbar-nav.text-green .nav-item .nav-link {
  color: #808080;
  font-size: 12px; }
body .vacancy .navbar .container .navbar-nav .nav-item .nav-link {
  color: #201F1E;
  font-size: 14px; }
body .vacancy .navbar .container .navbar-nav .nav-item .buttun {
  border: 1px solid #808080;
  color: #808080;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px; }
body .vacancy .section_one {
  margin-top: 20px;
  margin-bottom: 70px;
  padding-bottom: 50px;
  z-index: -500;
  background-image: url("../images/battle/Vector 1.png");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right  -10px; }
  body .vacancy .section_one .container .row .text {
    margin-top: 70px; }
    body .vacancy .section_one .container .row .text strong {
      font-family: "Exo2-Regular", sans-serif;
      font-size: 36px;
      font-weight: 400; }
      body .vacancy .section_one .container .row .text strong span {
        color: #0A7F2E; }
    body .vacancy .section_one .container .row .text p {
      color: #808080;
      padding-top: 30px;
      padding-bottom: 10px;
      line-height: 32px; }
  body .vacancy .section_one .container .row .bg-img-1 {
    margin-top: 170px;
    left: 4px;
    background-image: url("../images/battle/8619 1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right  -10px; }
body .vacancy .section_two {
  background-image: url("../images/battle/Rectangle 82.png"), url("../images/battle/Rectangle 84.png");
  background-size: 100% 100%, 100%;
  background-position: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px #575757;
  margin-bottom: 10px; }
  body .vacancy .section_two .container {
    background-image: url("../images/battle/Ellipse 35.png"), url("../images/battle/Ellipse 36.png");
    background-size: 9%, 3%;
    background-repeat: no-repeat;
    background-position: 950px 50px, 840px 50px;
    border: 2px solid #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 50px; }
  body .vacancy .section_two p {
    letter-spacing: 2px;
    font-size: 36px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 140px; }
body .vacancy .section_three {
  background-image: url("../images/battle/Rectangle 47.png");
  background-size: 50% 100%;
  background-repeat: no-repeat; }
  body .vacancy .section_three .container .row .left {
    padding-top: 80px;
    padding-bottom: 40px; }
    body .vacancy .section_three .container .row .left .row .col-md-10 .top-bottom {
      font-size: 14px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-bottom: 3px solid #0A7F2E;
      border-top: 3px solid #0A7F2E;
      color: #808080; }
      body .vacancy .section_three .container .row .left .row .col-md-10 .top-bottom span {
        color: #808080; }
        body .vacancy .section_three .container .row .left .row .col-md-10 .top-bottom span img {
          width: 30px;
          height: 30px;
          margin-right: 15px; }
    body .vacancy .section_three .container .row .left .row .col-md-9 p {
      margin-top: 30px;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 20px; }
    body .vacancy .section_three .container .row .left .row .col-md-12 ul {
      list-style: none;
      padding-left: 28px;
      font-size: 13px;
      color: #808080; }
      body .vacancy .section_three .container .row .left .row .col-md-12 ul li {
        line-height: 43px; }
  body .vacancy .section_three .container .row .right {
    padding-top: 43px;
    padding-bottom: 40px; }
    body .vacancy .section_three .container .row .right .row {
      margin-left: 70px;
      margin-bottom: 100px; }
      body .vacancy .section_three .container .row .right .row .col-md-6 {
        padding-right: 60px; }
      body .vacancy .section_three .container .row .right .row .son {
        color: #0A7F2E;
        font-weight: 600;
        font-size: 36px; }
      body .vacancy .section_three .container .row .right .row .nomi {
        margin-top: 7px;
        color: #808080; }
body .vacancy .section_four {
  background-image: url("../images/battle/Vector 2.png"), url("../images/battle/3964905 2.png");
  background-repeat: no-repeat;
  background-size: 65% 100%, 35% 100%;
  background-position: left, right; }
  body .vacancy .section_four .container .img_1 {
    z-index: 500;
    top: 20px;
    left: 400px;
    width: 40px;
    height: 40px; }
  body .vacancy .section_four .container .img_2 {
    z-index: 500;
    top: 40px;
    left: 500px;
    width: 120px;
    height: 120px; }
  body .vacancy .section_four .container .img_3 {
    z-index: 500;
    top: 410px;
    width: 50px;
    left: 300px; }
  body .vacancy .section_four .container .img_4 {
    z-index: 500;
    top: 375px;
    width: 50px;
    left: 380px; }
  body .vacancy .section_four .container .img_5 {
    width: 50px;
    left: 460px;
    z-index: 500;
    top: 300px; }
  body .vacancy .section_four .container .row .col-md-4 {
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 50px; }
    body .vacancy .section_four .container .row .col-md-4 .links {
      padding-left: 60px;
      padding-right: 60px; }
    body .vacancy .section_four .container .row .col-md-4 .frontend {
      line-height: 100px;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1.5px; }
    body .vacancy .section_four .container .row .col-md-4 ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 25px;
      padding-bottom: 30px; }
      body .vacancy .section_four .container .row .col-md-4 ul li {
        margin-bottom: 10px;
        font-size: 13px; }
body .vacancy .section_five .container .row .col-md-12 .menu {
  color: #353535;
  font-size: 23px;
  font-weight: 600;
  line-height: 120px; }
body .vacancy .section_five .container .row .col-md-12 .card {
  border-radius: 0; }
  body .vacancy .section_five .container .row .col-md-12 .card .card-header {
    background-color: #f6f6f6;
    line-height: 40px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500; }
    body .vacancy .section_five .container .row .col-md-12 .card .card-header .fas {
      color: #808080; }
    body .vacancy .section_five .container .row .col-md-12 .card .card-header.collapsed {
      background-color: #ffffff; }
      body .vacancy .section_five .container .row .col-md-12 .card .card-header.collapsed .fas {
        transform: rotate(180deg); }
  body .vacancy .section_five .container .row .col-md-12 .card .card-body {
    font-weight: 500;
    font-size: 13.5px; }
    body .vacancy .section_five .container .row .col-md-12 .card .card-body .row {
      margin-top: 20px; }
      body .vacancy .section_five .container .row .col-md-12 .card .card-body .row .col-md-10 {
        margin-top: 10px;
        padding-right: 0; }
        body .vacancy .section_five .container .row .col-md-12 .card .card-body .row .col-md-10 p {
          line-height: 30px; }
        body .vacancy .section_five .container .row .col-md-12 .card .card-body .row .col-md-10 span {
          color: #0A7F2E;
          font-weight: 500; }
      body .vacancy .section_five .container .row .col-md-12 .card .card-body .row .px-4 {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 30px;
        border-left: 2px solid #0A7F2E;
        background-color: #f6f6f6; }
  body .vacancy .section_five .container .row .col-md-12 .card .show {
    border-bottom: 2px solid #0A7F2E; }
body .vacancy .section_six {
  margin-top: 150px;
  margin-bottom: 150px; }
  body .vacancy .section_six .container {
    position: relative;
    color: #808080;
    font-size: 36px;
    background-image: url("../images/battle/Group 26.png"), url("../images/battle/Group 107.png");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 35%;
    padding-bottom: 330px;
    padding-top: 330px; }
    body .vacancy .section_six .container img {
      width: 310px;
      height: 310px; }
    body .vacancy .section_six .container .img_one {
      top: -80px;
      left: -50px; }
    body .vacancy .section_six .container .img_two {
      top: -80px;
      left: 200px; }
    body .vacancy .section_six .container .img_three {
      top: -80px;
      left: 455px; }
    body .vacancy .section_six .container .img_four {
      left: -50px;
      top: 170px; }
    body .vacancy .section_six .container .img_five {
      left: -50px;
      top: 425px; }
    body .vacancy .section_six .container .img_six {
      bottom: -80px;
      right: -50px; }
    body .vacancy .section_six .container .img_seven {
      right: -50px;
      top: 400px; }
    body .vacancy .section_six .container .img_eight {
      right: -50px;
      top: 150px; }
    body .vacancy .section_six .container .img_nine {
      bottom: -80px;
      right: 200px; }
    body .vacancy .section_six .container .img_ten {
      bottom: -80px;
      right: 450px; }
    body .vacancy .section_six .container .row {
      margin-left: 50px;
      letter-spacing: 2px; }
      body .vacancy .section_six .container .row .col-md-6 {
        padding-right: 120px; }
      body .vacancy .section_six .container .row .col-md-3 {
        padding-left: 90px; }
      body .vacancy .section_six .container .row .col-md-2 {
        margin-top: 30px;
        margin-bottom: 30px; }
body .vacancy .section_sevin {
  background-image: url("../images/battle/Rectangle 97.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45% 110%;
  padding-top: 40px;
  padding-bottom: 40px; }
  body .vacancy .section_sevin .container .row .col-md-6 h5 {
    font-family: "Exo2-Regular", sans-serif;
    font-size: 24px;
    font-weight: 600; }
  body .vacancy .section_sevin .container .row .col-md-6 p {
    font-size: 20px;
    color: #ababab; }
  body .vacancy .section_sevin .container form label {
    margin-top: 12px;
    font-size: 12px;
    color: #808080; }
  body .vacancy .section_sevin .container form .aylantir .fas {
    transform: rotate(138deg);
    margin-right: 5px;
    color: #808080; }
  body .vacancy .section_sevin .container form input {
    border-radius: 0; }
    body .vacancy .section_sevin .container form input:focus {
      box-shadow: 0 0 5px 2px #0A7F2E;
      border: 1px solid #0A7F2E; }
  body .vacancy .section_sevin .container form textarea {
    border-radius: 0;
    height: 170px; }
    body .vacancy .section_sevin .container form textarea:focus {
      box-shadow: 0 0 5px 2px #0A7F2E;
      border: 1px solid #0A7F2E; }
  body .vacancy .section_sevin .container form .yuborish {
    margin-top: 20px;
    font-size: 12px;
    background-color: #0A7F2E;
    color: #ffffff; }
body .vacancy footer {
  background-image: url("../images/battle/Rectangle 51 (2).png"), url("../images/battle/Rectangle 48.png");
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }
  body .vacancy footer .container .row .col-md-4 {
    margin-bottom: 40px;
    color: #ffffff; }
    body .vacancy footer .container .row .col-md-4 span {
      font-size: 22px;
      font-weight: 600; }
    body .vacancy footer .container .row .col-md-4 ul {
      margin-top: 15px; }
      body .vacancy footer .container .row .col-md-4 ul li {
        list-style: none;
        font-size: 12px;
        line-height: 30px; }
        body .vacancy footer .container .row .col-md-4 ul li a {
          text-decoration: none;
          color: #ffffff; }
    body .vacancy footer .container .row .col-md-4 .row .col-md-12 {
      font-size: 11px; }
      body .vacancy footer .container .row .col-md-4 .row .col-md-12 img {
        width: 80%; }
    body .vacancy footer .container .row .col-md-4 .row .col-md-8 {
      margin-top: 45px;
      margin-bottom: 25px; }
  body .vacancy footer .container .row .malumot {
    padding-left: 93px;
    padding-top: 35px; }
    body .vacancy footer .container .row .malumot p {
      margin-top: 8px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      font-size: 10px; }
    body .vacancy footer .container .row .malumot .index_raqam {
      font-size: 14px;
      font-weight: 600; }
    body .vacancy footer .container .row .malumot .tel_raqam {
      font-size: 12px; }
    body .vacancy footer .container .row .malumot .ijtimoiy_tarmoq {
      font-size: 16px; }
      body .vacancy footer .container .row .malumot .ijtimoiy_tarmoq a {
        color: #ffffff;
        margin-left: 10px; }
  body .vacancy footer .container-fluid {
    border-top: 1px solid #CCCCCC; }
  body .vacancy footer .paski {
    line-height: 50px; }
    body .vacancy footer .paski span {
      font-size: 12px;
      color: #ffffff; }
      body .vacancy footer .paski span img {
        width: 70px;
        margin-left: 15px; }
body .home_page {
  background-image: url("../images/homepage/Rectangle 2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 47% 100%; }
  body .home_page .rasm {
    background-image: url("../images/homepage/3426525 1.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 35%; }
    body .home_page .rasm .navbar .container img {
      width: 80%;
      height: 80%; }
    body .home_page .rasm .navbar .container .logo {
      padding: 0;
      margin: 0; }
    body .home_page .rasm .navbar .container .btnn {
      margin-right: 10px;
      padding: 0;
      background-color: #ffffff;
      outline: none;
      border: none;
      width: 30px; }
      body .home_page .rasm .navbar .container .btnn img {
        width: 80%;
        height: 80%; }
    body .home_page .rasm .navbar .container .navbar-nav.text-green .nav-item .nav-link {
      color: #ffffff;
      font-size: 12px; }
    body .home_page .rasm .navbar .container .navbar-nav .nav-item .nav-link {
      color: #201F1E;
      font-size: 14px; }
    body .home_page .rasm .navbar .container .navbar-nav .nav-item .buttun {
      border: 1px solid #ffffff;
      background-color: #0A7F2E;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px; }
    body .home_page .rasm header .col-md-6 h5 {
      font-size: 33px;
      font-weight: 700; }
    body .home_page .rasm header .col-md-6 span {
      font-size: 15px;
      color: #8a8a8a; }
    body .home_page .rasm header .col-md-6 form input {
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 25px;
      padding-top: 25px;
      color: #CCCCCC;
      outline: none;
      box-shadow: none;
      border: 1px solid #CCCCCC; }
      body .home_page .rasm header .col-md-6 form input:focus {
        box-shadow: 1px 1px 15px #cccccc; }
    body .home_page .rasm header .col-md-6 form button {
      font-size: 12px;
      background-color: #0A7F2E;
      color: #ffffff;
      padding-left: 15px;
      padding-right: 15px;
      outline: none;
      box-shadow: none;
      border: 1px solid #0A7F2E; }
      body .home_page .rasm header .col-md-6 form button:focus {
        box-shadow: 1px 1px 15px #0A7F2E; }
    body .home_page .rasm header .col-md-12 p {
      font-size: 28px;
      color: #ffffff;
      font-weight: 600;
      border-bottom: 1px solid #ffffff;
      line-height: 60px; }
    body .home_page .rasm header .col-md-12 span {
      font-size: 14px;
      color: #ffffff;
      font-weight: 100; }
    body .home_page .rasm header .col-md-11 p {
      color: #bbbbbb; }
    body .home_page .rasm .aylan {
      top: 50%;
      left: -350px;
      transform: rotate(-90deg);
      font-size: 40px;
      color: #dddddd; }
      body .home_page .rasm .aylan span {
        margin-right: 130px;
        margin-left: 60px; }
      body .home_page .rasm .aylan img {
        transform: rotate(90deg);
        height: 250px; }
body .services .navbar .container img {
  width: 80%;
  height: 80%; }
body .services .navbar .container .logo {
  padding: 0;
  margin: 0; }
body .services .navbar .container .btnn {
  margin-right: 20px;
  padding: 0;
  background-color: #ffffff;
  outline: none;
  border: none; }
  body .services .navbar .container .btnn img {
    width: 80%;
    height: 80%; }
body .services .navbar .container .navbar-nav.text-green .nav-item .nav-link {
  color: #808080;
  font-size: 12px; }
body .services .navbar .container .navbar-nav .nav-item .nav-link {
  color: #201F1E;
  font-size: 14px; }
body .services .navbar .container .navbar-nav .nav-item .buttun {
  border: 1px solid #808080;
  color: #808080;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px; }
body .services section .yuqori a {
  text-decoration: none;
  color: #0A7F2E;
  font-weight: 600;
  font-size: 18px; }
body .services section .yuqori img {
  width: 8px;
  margin-right: 10px; }
body .services section .card {
  height: 230px;
  border-radius: 0;
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px 2px rgba(200, 201, 204, 0.38);
  transition: 0.5s;
  background-image: url("../images/Group 167.png");
  background-repeat: no-repeat;
  background-position: 95% 95%;
  background-size: 25%; }
  body .services section .card:hover {
    border: 2px dashed #0A7F2E;
    margin-top: -10px; }
  body .services section .card .img {
    width: 50px; }
  body .services section .card .doira {
    box-shadow: 0 0 20px 2px rgba(200, 201, 204, 0.38);
    width: 27px;
    height: 27px;
    border-radius: 50%; }
    body .services section .card .doira img {
      width: 12px; }
  body .services section .card h4 {
    font-size: 24px;
    font-weight: 600; }
body .services section .rasmqada .card {
  background-image: url("../images/5885 1.png");
  border: none;
  box-shadow: none;
  background-size: 100%;
  background-position: center; }
  body .services section .rasmqada .card:hover {
    margin-top: 0; }
body .services section .left {
  transform: rotate(-90deg);
  left: -350px;
  top: 280px;
  font-size: 35px;
  font-weight: 400;
  color: #dddddd; }
  body .services section .left ul {
    margin-left: 80px; }
    body .services section .left ul li {
      list-style: none;
      margin-left: -3px;
      font-size: 25px; }
    body .services section .left ul .buyal {
      color: #0A7F2E; }
body .portfolio .navbar .container img {
  width: 80%;
  height: 80%; }
body .portfolio .navbar .container .logo {
  padding: 0;
  margin: 0; }
body .portfolio .navbar .container .btnn {
  margin-right: 20px;
  padding: 0;
  background-color: #ffffff;
  outline: none;
  border: none; }
  body .portfolio .navbar .container .btnn img {
    width: 80%;
    height: 80%; }
body .portfolio .navbar .container .navbar-nav.text-green .nav-item .nav-link {
  color: #808080;
  font-size: 12px; }
body .portfolio .navbar .container .navbar-nav .nav-item .nav-link {
  color: #201F1E;
  font-size: 14px; }
body .portfolio .navbar .container .navbar-nav .nav-item .buttun {
  border: 1px solid #808080;
  color: #808080;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px; }
body .portfolio section .nav .col-lg-2 a {
  text-decoration: none;
  color: #0A7F2E;
  font-weight: 600;
  font-size: 18px; }
body .portfolio section .nav .col-lg-2 img {
  width: 8px;
  margin-right: 10px; }
body .portfolio section .nav .col-12 ul li a {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 500; }
  body .portfolio section .nav .col-12 ul li a:focus {
    color: #494846;
    font-weight: 600;
    border-bottom: 1px solid #0A7F2E; }
body .portfolio section .card {
  border-radius: 0;
  border: none; }
  body .portfolio section .card .card-img-overlay img {
    width: 50%; }
  body .portfolio section .card .norma {
    margin-top: 18px;
    margin-left: 18px;
    width: 90%;
    box-shadow: 0 0 20px 2px rgba(200, 201, 204, 0.38);
    transition: 0.5s; }
body .portfolio section .left {
  transform: rotate(-90deg);
  left: -350px;
  top: 280px;
  font-size: 35px;
  font-weight: 400;
  color: #dddddd; }
  body .portfolio section .left ul {
    margin-left: 80px; }
    body .portfolio section .left ul li {
      list-style: none;
      margin-left: -3px;
      font-size: 25px; }
    body .portfolio section .left ul .buyal {
      color: #0A7F2E; }
body .portfolio section button {
  color: #0A7F2E;
  border-radius: 0;
  border: 2px solid #0A7F2E;
  outline: none; }
  body .portfolio section button:focus {
    outline: none;
    box-shadow: none;
    background-color: #0A7F2E;
    color: #ffffff; }

.dropcha::before {
  content: "";
  position: absolute;
  background-image: url("../images/battle/Rectangle 42.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 13px;
  width: 7px;
  height: 13px;
  left: -28px;
  top: 15px;
  display: block; }

.nuqtacha::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  left: -10px;
  top: 50%; }

.t_burchak::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -15px;
  top: -12px;
  border-left: 3px solid #0A7F2E;
  border-top: 3px solid #0A7F2E; }

.b_burchak::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 235px;
  top: 38px;
  border-right: 3px solid #0A7F2E;
  border-bottom: 3px solid #0A7F2E; }

@media (max-width: 576px) {
  body .vacancy .section_one {
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: none; }
    body .vacancy .section_one .bg-img-1 {
      background-image: none;
      margin-top: 0;
      display: none; }
    body .vacancy .section_one strong {
      text-align: center; }
  body .vacancy .section_two {
    background-image: none;
    background-color: #0A7F2E;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: center; }
    body .vacancy .section_two p {
      font-size: 26px;
      margin-bottom: 30px; }
  body .vacancy .section_three {
    background-image: none; }
    body .vacancy .section_three .left {
      background-color: #eeeeee;
      padding-top: 0px; }
  body .vacancy .section_four {
    text-align: center;
    background-image: none;
    background-color: #0A7F2E; }
    body .vacancy .section_four img {
      display: none; }
  body .vacancy .section_five .container .row .center {
    text-align: center; }
    body .vacancy .section_five .container .row .center .menu {
      line-height: 30px; }
  body .vacancy .section_six {
    padding-bottom: 250px; }
    body .vacancy .section_six .container .row {
      display: none; }
    body .vacancy .section_six .container img {
      width: 290px;
      height: 290px; }
    body .vacancy .section_six .container .img_one {
      top: -120px;
      left: 5px; }
    body .vacancy .section_six .container .img_two {
      top: 100px;
      left: 5px; }
    body .vacancy .section_six .container .img_three {
      top: 320px;
      left: 5px; }
    body .vacancy .section_six .container .img_four {
      top: 540px;
      left: 5px; }
    body .vacancy .section_six .container .img_five {
      top: 760px;
      left: 5px; }
    body .vacancy .section_six .container .img_six {
      top: -120px;
      right: 5px; }
    body .vacancy .section_six .container .img_seven {
      top: 100px;
      right: 5px; }
    body .vacancy .section_six .container .img_eight {
      top: 320px;
      right: 5px; }
    body .vacancy .section_six .container .img_nine {
      top: 540px;
      right: 5px; }
    body .vacancy .section_six .container .img_ten {
      top: 760px;
      right: 5px; }
  body .vacancy .section_sevin {
    background-image: none;
    padding-bottom: 0; }
    body .vacancy .section_sevin .row {
      text-align: center; }
  body .vacancy footer {
    background-image: none;
    background-color: #0A7F2E; }
    body .vacancy footer .row {
      text-align: center; }
      body .vacancy footer .row .malumot {
        padding-right: 93px; }
  body .home_page {
    background-color: #0A7F2E;
    background-image: none; }
    body .home_page .rasm {
      background-image: none; } }
@media (min-width: 576px) and (max-width: 768px) {
  body .vacancy .section_one {
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: none; }
    body .vacancy .section_one .bg-img-1 {
      background-image: none;
      display: none; }
    body .vacancy .section_one strong {
      text-align: center; }
  body .vacancy .section_two {
    background-image: none;
    background-color: #0A7F2E;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
    body .vacancy .section_two p {
      font-size: 26px;
      margin-bottom: 30px; }
  body .vacancy .section_three {
    background-image: none; }
    body .vacancy .section_three .left {
      background-color: #eeeeee; }
  body .vacancy .section_four {
    text-align: center;
    background-image: none;
    background-color: #0A7F2E; }
    body .vacancy .section_four img {
      display: none; }
  body .vacancy .section_five .container .row .center {
    text-align: center; }
    body .vacancy .section_five .container .row .center .menu {
      line-height: 30px; }
  body .vacancy .section_six {
    padding-bottom: 250px; }
    body .vacancy .section_six .container .row {
      display: none; }
    body .vacancy .section_six .container img {
      width: 290px;
      height: 290px; }
    body .vacancy .section_six .container .img_one {
      top: -120px;
      left: 5px; }
    body .vacancy .section_six .container .img_two {
      top: 100px;
      left: 5px; }
    body .vacancy .section_six .container .img_three {
      top: 320px;
      left: 5px; }
    body .vacancy .section_six .container .img_four {
      top: 540px;
      left: 5px; }
    body .vacancy .section_six .container .img_five {
      top: 760px;
      left: 5px; }
    body .vacancy .section_six .container .img_six {
      top: -120px;
      right: 5px; }
    body .vacancy .section_six .container .img_seven {
      top: 100px;
      right: 5px; }
    body .vacancy .section_six .container .img_eight {
      top: 320px;
      right: 5px; }
    body .vacancy .section_six .container .img_nine {
      top: 540px;
      right: 5px; }
    body .vacancy .section_six .container .img_ten {
      top: 760px;
      right: 5px; }
  body .vacancy .section_sevin {
    background-image: none;
    padding-bottom: 0; }
    body .vacancy .section_sevin .row {
      text-align: center; }
  body .vacancy footer {
    background-image: none;
    background-color: #0A7F2E; }
    body .vacancy footer .row {
      text-align: center; }
      body .vacancy footer .row .malumot {
        padding-right: 93px; }
  body .home_page {
    background-color: #0A7F2E;
    background-image: none; }
    body .home_page .rasm {
      background-image: none; } }
@media (min-width: 768px) and (max-width: 992px) {
  body .vacancy .section_one {
    margin-bottom: 0;
    padding-bottom: 0;
    background-size: 60%; }
    body .vacancy .section_one .navbar-nav {
      text-align: center; }
      body .vacancy .section_one .navbar-nav .container {
        display: flex;
        align-items: baseline; }
    body .vacancy .section_one .bg-img-1 {
      background-image: none;
      display: none; }
    body .vacancy .section_one strong {
      text-align: center; }
  body .vacancy .section_two {
    background-size: 150%;
    background-color: #0A7F2E;
    padding-top: 30px;
    padding-bottom: 30px; }
    body .vacancy .section_two p {
      font-size: 26px;
      margin-bottom: 30px; }
  body .vacancy .section_four {
    background-size: 65% 100%, 40% 60%; }
    body .vacancy .section_four img {
      display: none; }
  body .vacancy .section_five .container .row .center .menu {
    line-height: 30px; }
  body .vacancy .section_six {
    padding-bottom: 250px; }
    body .vacancy .section_six .container .row {
      display: none; }
    body .vacancy .section_six .container img {
      width: 290px;
      height: 290px; }
    body .vacancy .section_six .container .img_one {
      top: -120px;
      left: 5px; }
    body .vacancy .section_six .container .img_two {
      top: 100px;
      left: 5px; }
    body .vacancy .section_six .container .img_three {
      top: 320px;
      left: 5px; }
    body .vacancy .section_six .container .img_four {
      top: 540px;
      left: 5px; }
    body .vacancy .section_six .container .img_five {
      top: 760px;
      left: 5px; }
    body .vacancy .section_six .container .img_six {
      top: -120px;
      right: 5px; }
    body .vacancy .section_six .container .img_seven {
      top: 100px;
      right: 5px; }
    body .vacancy .section_six .container .img_eight {
      top: 320px;
      right: 5px; }
    body .vacancy .section_six .container .img_nine {
      top: 540px;
      right: 5px; }
    body .vacancy .section_six .container .img_ten {
      top: 760px;
      right: 5px; }
  body .vacancy .section_sevin {
    padding-bottom: 0; }
    body .vacancy .section_sevin .yuborish {
      padding-right: 20px; }
  body .vacancy footer {
    background-size: 150% 150%;
    background-position: center center; } }
@media (min-width: 992px) and (max-width: 1200px) {
  body .vacancy .section_one {
    margin-bottom: 0;
    padding-bottom: 0;
    background-size: 60%; }
    body .vacancy .section_one .navbar-nav {
      text-align: center; }
      body .vacancy .section_one .navbar-nav .container {
        display: flex;
        align-items: baseline; }
    body .vacancy .section_one .bg-img-1 {
      background-image: none; }
    body .vacancy .section_one strong {
      text-align: center; }
  body .vacancy .section_two {
    background-size: 150%;
    background-color: #0A7F2E;
    padding-top: 30px;
    padding-bottom: 30px; }
    body .vacancy .section_two p {
      font-size: 26px;
      margin-bottom: 30px; }
  body .vacancy .section_four {
    background-size: 65% 100%, 40% 60%; }
    body .vacancy .section_four img {
      display: none; }
  body .vacancy .section_five .container .row .center .menu {
    line-height: 30px; }
  body .vacancy .section_sevin {
    padding-bottom: 0; }
    body .vacancy .section_sevin .yuborish {
      padding-right: 20px; }
  body .vacancy footer {
    background-size: 150% 150%;
    background-position: center center; } }

/*# sourceMappingURL=main.css.map */
